<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Amazing Core Dashboard</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" />
        <link rel="stylesheet" type="text/css" href="/lib/w2ui.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="/lib/font-awesome/css/all.min.css">
        {{ if .username  -}}
        <link rel="stylesheet"
              type="text/css"
              href="/lib/codemirror/codemirror.min.css">
        <link rel="stylesheet"
              type="text/css"
              href="/lib/codemirror/addon/hint/show-hint.min.css">
        <script defer src="/lib/codemirror/codemirror.min.js"></script>
        <script defer src="/lib/codemirror/keymap/vim.min.js"></script>
        <script defer src="/lib/codemirror/mode/sql/sql.min.js"></script>
        <script defer src="/lib/codemirror/addon/hint/show-hint.min.js"></script>
        <script defer src="/lib/codemirror/addon/hint/sql-hint.min.js"></script>
        {{ end -}}
        <style>
          * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
          }

          [type=checkbox],
          [type=radio] {
            height: 1rem;
            width: 1rem;
          }

          body,
          .w2ui-reset,
          .w2ui-reset table tr td, .w2ui-reset table tr th,
          .w2ui-lock-msg,
          .w2ui-overlay .w2ui-overlay-body,
          .w2ui-field-helper.w2ui-list .w2ui-multi-items .li-item,
          .w2ui-info-bubble table,
          .w2ui-popup {
            font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
          }
        </style>
    </head>
    <body>
        {{ if .username  -}}
        <div id="dashboard-layout"
             style="width: 100vw;
                    height: 100vh;
                    min-width: 800px"></div>
        <script type="module" src="/admin/dashboard.js"></script>
        {{ else -}}
        <div id="login-form"
             style="margin-left: auto;
                    margin-right: auto;
                    margin-top: 20vh;
                    max-width: 20rem"></div>
        <div id="login-toolbar"
             style="margin-left: auto;
                    margin-right: auto;
                    max-width: 20rem"></div>
        <script type="module" src="/admin/login.js"></script>
        {{ end -}}
    </body>
</html>
