<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Amazing Core Dashboard</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="csrf-token" content={{ .csrfToken }} />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
              integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/web/admin/lib/w2ui.min.css" />
        <style>
            body { margin: 0; padding: 0; }
            [type=checkbox], [type=radio] { height: 1rem; width: 1rem; }
        </style>
    </head>
    <body>
        {{ if .username  -}}
        <div id="dashboard-layout"
             style="width: 100vw;
                    height: 100vh;
                    min-width: 800px"></div>
        <script type="module" src="/web/admin/dashboard.js"></script>
        {{ else -}}
        <div id="login-form"
             style="margin-left: auto;
                    margin-right: auto;
                    margin-top: 20vh;
                    max-width: 20rem"></div>
        <div id="login-toolbar"
             style="margin-left: auto;
                    margin-right: auto;
                    max-width: 20rem"></div>
        <script type="module" src="/web/admin/login.js"></script>
        {{ end -}}
    </body>
</html>
